/* Font ----------------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Foldit:wght@400;500;600;700;800;900&family=Inter:wght@400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&display=swap");

/* Reset ----------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #3590d2;
}

a:hover {
  opacity: 0.7;
  letter-spacing: 1px;
}

/* Body ----------------------------------------------- */

body {
  background: rgb(228, 206, 178);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Switch Button -------------------------------------- */

.lan-switch-box {
  width: 220px;
  margin: 35px auto;
  position: relative;
  border-radius: 30px;
  background: #919191;
}
.toggle-btn {
  padding: 10px 40px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  text-align: center;
}

#btn {
  left: 0;
  top: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: #e67e22;
  border-radius: 30px;
  transition: 0.5s;
}

/* Main Container ----------------------------------------------- */

.container {
  position: relative;
  width: 100%;
  /* max-width: 1000px; */
  background: #fff;
  /* margin: 50px; */
  /* box-shadow: 0 50px 75px rgba(0, 0, 0, 0.1); */
  /* border-left: 50px solid #fff;
  border-right: 50px solid #fff; */
}

/* Top Column ----------------------------------------------- */

.container .top {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 20px;
  padding-bottom: 0;
}

/* - Profile image - */

.container .top .imgBx {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.container .top .imgBx .box {
  position: relative;
  width: 70%;
  min-width: 200px;
  border-radius: 50%;
  overflow: hidden;
  aspect-ratio: 1;
}

.container .top .imgBx .box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .top .profileText {
  position: relative;
  padding: 40px;
  display: flex;
  align-items: center;
}

.container .top .profileText h3 {
  font-size: 5em;
  letter-spacing: 0.1em;
  line-height: 1.2em;
  font-weight: 600;
  color: #333;
}

.container .top .profileText h3 span {
  position: relative;
  font-size: 0.5em;
  font-weight: 300;
  top: -10px;
}

/* .Main Content  ----------------------------------------------- */

.container .contentBox {
  position: relative;
  min-height: 500px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0 40px 40px;
}

/* -Contact Info - */

.container .contentBox h3 {
  border-left: 4px solid #ff8bb3;
  padding-left: 10px;
  line-height: 1em;
  font-weight: 600;
  color: #333;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
  margin-top: 50px;

  font-size: 2em;
}

.container .contentBox ul {
  position: relative;
  margin: 10px 0;
}

.container .contentBox ul li {
  list-style: none;
  margin: 25px 0;
  line-height: 1em;
  color: #333;
  cursor: pointer;
  display: flex;

  font-size: 1.2em;
}

.container .contentBox ul li i {
  font-size: 1.2em;
  margin-right: 10px;
  color: #3590d2;
}

/* -Education - */

.container .contentBox ul.education li {
  flex-direction: column;
  margin: 25px 0;

  font-size: 1.2em;
}

h5 {
  color: #3590d2;

  font-size: 1em;
}

h4 {
  color: #333;
  font-weight: 500;
  margin: 5px 0;

  font-size: 1em;
}
h6 {
  color: #666;
  font-weight: 300;
  font-size: 1em;
}

/* -language- */

.language li {
  flex-direction: column;
}

.language li span {
  color: #333;
  /* font-size: 16px; */
  font-size: 16px;
  font-weight: 500;
}

.language .percent {
  position: relative;
  width: 100%;
  background: #e3e3e3;
  height: 6px;
  margin-top: 15px;
  margin-bottom: 10px;
  display: block;
  overflow: hidden;
}

.language .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #3590d2;
}

/* -Interest- */

.container .contentBox ul.interest {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container .contentBox ul.interest li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;

  font-size: 1.3em;
}

.container .contentBox ul.interest li .icon {
  position: relative;
  width: 40px;
  height: 40px;
  background: #3590d2;
  color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .contentBox ul.interest li .icon .bx {
  color: #fff;
  margin-right: 0;
}

p {
  font-style: 300;
}

/* right column  -----------------------------------------------  */

.rightSide {
  padding-left: 40px;
}

.about .box {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.about p {
  font-size: 1.2em;
}

.about .box .year_company {
  min-width: 250px;
  /* width: 150px; */
  margin-bottom: 10px;
}

.about .box .year_company h5 {
  color: #333;
  font-weight: 600;

  font-size: 20px;
}

.about .box .year_company h5:nth-child(1) {
  color: #3590d2;
}

.about .box .text h4 {
  color: #3590d2;
  font-size: 16px;
  margin: 0;

  font-size: 20px;
}

.about.skills .skill-set {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.about.skills .skill-set .box {
  margin: 10px 0;
}

/* .about.skills .box {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  justify-content: center;
  align-items: center;
} */

/* .about.skills .box h4 {
  color: #333;
  font-weight: 500;
  margin-bottom: 5px;
} */

/* .about.skills .box .percent {
  position: relative;
  width: 100%;
  height: 10px;
  background: #e3e3e3;
} */

/* .about.skills .box .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #3590d2;
} */

.cn-resume {
  display: none;
}

.active-display {
  display: initial;
}

/* .deactive-display {
  display: none;
}  */

/* Responsive ---------------------------------------------  */
@media only screen and (max-width: 798px) {
  .resume-box .imgBx {
    display: flex;
    justify-content: center;
  }

  .resume-box .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .resume-box .contentBox {
    /* display: grid; */
    display: flex;
    flex-direction: column;
  }
  .about .box {
    display: flex;
    flex-direction: column;
  }
  .year_company h5 {
    font-size: 20px;
    color: #3590d2;
  }
  .about .text {
    color: #666;
  }
  .about .text h4 {
    color: #000000 !important;
  }
}

@media only screen and (max-width: 608px) {
  .about.skills .skill-set {
    grid-template-columns: 1fr;
  }
}
